{% extends 'FrontendNavigator/base.html' %}


{% block content %}
{% load static %}
<div style="background-color:rgba(209, 235, 215,0.7); margin-top:-20px; padding-bottom:30px;">
<ul>


<br>
<div align="right">
 <a href="{% url 'ppdf_view' all_details.id %}"><span style="color:orange;border:2px solid red; padding:5px;">Downloand PDF </span> </a><br>
</div> 

<br>
 <b><span style="color:green"> {{all_details.title}}</span></b><br>
 
 
  <i>{{all_details.created_at}} </i><br>
 
{{all_details.body}} 

<br>
 


<small><b>Top 5 records of the dataset</b></small>
<div>
{{html_table_template| safe }}
</div>
</ul>
</br></br>
<div style="background-color:rgba(182, 219, 191,0.7); padding:20px;">
<div style="padding-left:20px;font-size:25px;">
Select year 
<div style="display:inline-block;">

<form method="GET" action="{% url 'predict_detail' 1 %}" value="{{request.GET.selectyear}}">{% csrf_token %}
<select name="selectyear">
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
</select>
<input type="submit" value="Predict">
</form>
</div>
</div><br>
<span style="padding-bottom:50px; font-size:20px; color:#26a307; padding-left:20px;">Foreign exchange earning in {{year}}(in NPR million):<b>{{next_year_value}}</b></span>
</div>
<br>
<div style="padding-left:30px;">
<img align="middle" src="data:image/png;base64,{{image_base64}}" alt="Sorry there's something wrong with py script .Please download analysis to see figure" width=700 height=auto />

<br>
<br><br>
<img src="{% static '../static/img/sarima_result.png'%}" width=700 height=auto />

<br><br>
{% if  image_base64g %}
<img src="data:image/png;base64,{{image_base64g}}", width=700 height=auto />

{% endif %}

{% if  image_base64h %}
<img src="data:image/png;base64,{{image_base64h}}", width=700 height=auto />

{% endif %}

{% if  image_base64i %}
<img src="data:image/png;base64,{{image_base64i}}", width=700 height=auto />

{% endif %}
{% if  image_base64j %}
<img src="data:image/png;base64,{{image_base64j}}", width=700 height=auto />

{% endif %}
{% if  image_base64k %}
<img src="data:image/png;base64,{{image_base64k}}", width=700 height=auto />

{% endif %}

<br>



</div>

</div>

{% endblock content %}
